[Unit]
Description=Traefik Reverse Proxy
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/systemd-docker --cgroups name=systemd run --rm --name "traefik" -p 80:80 -p 443:443 -v /opt/traefik/traefik.toml:/traefik.toml:ro -v /opt/certs/leveraging.com.crt:/etc/ssl/certs/leveraging.com.crt:ro -v /opt/certs/leveraging.com.key:/etc/ssl/certs/leveraging.com.key:ro -v /var/run/docker.sock:/var/run/docker.sock:ro --label traefik.admin.port=8080 --label traefik.admin.frontent.rule=Host:traefik.hcc.org traefik:latest
#Type=notify
Type=idle
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
